body{
    margin: 0;
    padding: 0;
    background-color: black;
   
}
.portfolio{
    display: flex;
    color: white;


}
.navbar{
    padding: 0;
    margin: 0;

}
h2{
    text-align: right;
    justify-content: space-evenly;
}
   

